.html, .body{
    height: 100%;
   }
  
.accordion-item,  .accordion-item:focus, .accordion-item:active,
.accordion-header, .accordion-header:focus,
.accordion-button, .accordion-button:focus, 
.accordion-body, .accordion-button:link, .accordion-button:visited, .accordion-button:hover{
    outline: none !important;
    background:#f8f9fa !important;
    border:none;
    box-shadow:none !important;
    padding: 0ch;
}

.accordion-button::after , .accordion-button::after {
    order: -1; 
    margin-left: 0; 
    margin-right:0.65em;
}


.accordion-body {
    padding-left: 7.5ch;
}

.accordion-header{
    padding-left: 1.5ch;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

            * {
    box-sizing: border-box;
    }

    
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    }

 
img {
    height: auto;
    display: flex;

    }
    
.nav-pills a.nav-link.active {
    background-color: rgba(137, 154, 201, 0.116);
    border-radius: 0%;
    color: #424344;
}

.nav-pills a.nav-link {
    color: #797878;

}

#navbar-progress{
    min-height: 100%;
    background-color: #f8fafc;
}

h1{
    margin-top: 7.5rem;
}

h2{
    margin-top: 3rem;
}

hr{
    margin-bottom: 1rem;;
}
   
h3{
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
    color: #46637e;
}

h4{
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

h5{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}


